body {
    font-family: 'Cabin', sans-serif;
}

section {
    background-color: white;
}

.hero {
    background-color: rgb(34, 5, 47);
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav {
   display: flex; 
   justify-content: space-between; 
}

ul {
    display: flex;  
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}


li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

p {
    margin: 0;
    font-weight: 400px;
    font-size: 30px;
} 

.subtext {
    font-size: 20px;
    font-weight: 400px;
}

.subtext-2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400px;
}

.subtext-3 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 400px;
}

.subtext-3-alt {
    margin-top: 20px;
    margin-bottom: 83px;
    font-size: 17px;
    font-weight: 400px;
}

.subtext-3-alt-2 {
    margin-top: 20px;
    margin-bottom: 126px;
    font-size: 17px;
    font-weight: 400px;
}

.hero-area {
    display:flex;
    height: 100%;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: rgb(72, 43, 72);
    color: rgb(238, 238, 238);
    text-align: center;
    font-weight: 400px;
    font-size: 30px;
    padding-top: 15px;
    margin-top: 20 px;
}

.button:hover {
    background-color:rgb(112, 73, 112);
}

.button:active {
    background-color: rgb(106, 98, 106);
    color:bisque;
}

.socials {
    padding-bottom: 250px;
    display: flex;
    flex-flow: column;
}

.social {
    margin: 10px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    color: rgb(34, 5, 47);
}

@media screen and (max-width: 1000px) {
    .sub-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .information {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}

.sub-section-alternative {
    display:flex;
    flex-direction:column;
    text-align:center;
    padding: 80px;
    color: rgb(34, 5, 47);
}

h2 {
    font-size: 50px;
}

.headshot {
    width: 300px;
    border-radius: 200px;
}

.headshot-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.info-1 {
    margin-top: 25px;
}

.info-2 {
    margin-top: 32px;
    font-size: 28px;
}

.project-card {
    width: 550px;
    height: 900px;
    margin: 10px;
    font-size: 30px;
}

.project-container {
    /* height: 1750px; */
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    height: 200px; 
    text-align: center;
    color: white;
    background-color: black;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.project-link {
    margin-top: 100px;
    text-decoration: none;
    color:rgb(72, 43, 72);
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        margin-right: 20px;
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 40px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: rgb(72, 41, 86);
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: rgb(72, 41, 86);
    }

    /*.logo {
       display: none; 
    }*/
}